<div class="max-w-sm box-border rounded overflow-hidden shadow-lg m-2">
  <% if item.image_url.present? %>
    <img class="w-full object-cover" loading="lazy" src="<%= item.image_url %>" alt="<%= item.item_name %>">
  <% else %>
    <img class="w-full object-cover" loading="lazy" src="https://assets.materialup.com/uploads/b03b23aa-aa69-4657-aa5e-fa5fef2c76e8/preview.png" alt="<%= item.item_name %>">
  <% end %>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2"><%= item.item_name %></div>
    <p class="text-gray-900 text-base mb-2">
      ₹ <%= item.price %>
    </p>
    <p class="text-gray-700 text-base mb-2">
      <%= item.description %>
    </p>
    <div>
      <%= render partial: 'cart/add_form', locals: { item: item, qty: item.qty } %>
    </div>
  </div>
</div>