<main class="max-w-lg mx-auto pt-10 pb-12 px-4 lg:pb-16">
  <%= form_for @menu, data: {turbo: false} do |f| %>
    <div class="space-y-6">
      <div>
        <h1 class="text-lg leading-6 font-medium text-gray-900">Add menu</h1>
        <p class="mt-1 text-sm text-gray-500">Enter in your sheet menu information below</p>
      </div>

      <div>
        <%= f.label :title, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= f.text_field :title, placeholder: 'Title of the menu', class: "block w-full shadow-sm focus:ring-green-500 focus:border-green-500 sm:text-sm border-gray-300 rounded-md disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none" %>
        </div>
      </div>

      <div>
        <%= f.label :sheet_key, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= f.text_field :sheet_key, placeholder: '1GaCgdVQQYbDON-kWsGJQB-2JVjy6rcxscicJ2Iz3Lag', class: "block w-full shadow-sm focus:ring-green-500 focus:border-green-500 sm:text-sm border-gray-300 rounded-md disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none" %>
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700" for="menu_image_url">Image url</label>
        <div class="mt-1">
          <input placeholder="https://kubrick.htvapps.com/htv-prod-media.s3.amazonaws.com/images/capital-grille-1609877194.jpg" class="block w-full shadow-sm focus:ring-green-500 focus:border-green-500 sm:text-sm border-gray-300 rounded-md disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none" type="text" name="menu[image_url]" id="menu_image_url">
        </div>
      </div>


      <div class="flex justify-end">
        <%= f.submit "Create Menu", class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 cursor-pointer" %>
      </div>
    </div>
  <% end %>

</main>