<div class="flex">
  <div class="max-w-6xl mx-auto pt-10 pb-12 px-4 lg:pb-16">
    <h1 class="flex justify-center text-3xl tracking-wide font-medium" style="margin: 1rem;"><span>QR Code</span></h1>
    <div class="flex justify-center text-xl tracking-wide font-medium p-4" style="margin:1rem;">
      <%= link_to @menu.title, menu_path(@menu), class: "tracking-wide text-green-600 hover:underline hover:text-green-700" %>
    </div>
    <div class="p-12 tracking-wide flex justify-center text-green-600 hover:underline hover:text-green-700" style="margin: 1.5rem;">
      <% if params[:multiple].present? %>
        <%= link_to 'View / Print Single QR code', qr_code_path(@menu) %>
      <% else %>
        <%= link_to 'View / Print Multiple QR codes', qr_code_path(@menu, multiple: true) %>
      <% end %>
    </div>
    <% if params[:multiple].present? %>
      <div class="flex flex-wrap" >
        <% 20.times do %>
        <div style="margin: 1.75rem;">
          <%= @qrcode.as_svg(
                color:           "000",
                shape_rendering: "crispEdges",
                module_size:     5,
                standalone:      true,
                use_path:        true
              ).html_safe %>
        </div>
        <% end %>
      </div>
    <% else %>
    <div class="flex justify-center">
      <%= @qrcode.as_svg(
            color:           "000",
            shape_rendering: "crispEdges",
            module_size:     7,
            standalone:      true,
            use_path:        true
          ).html_safe %>
    </div>
    <% end %>
  </div>
</div>