<%= turbo_frame_tag dom_id order do %>
  <div class="shadow-md m-2 p-2 rounded-md border border-gray-200 flex justify-between w-full" data-controller="slidedown" data-action="click->slidedown#toggle" data-target="slide_<%= order.id %>">
    <h1 class="text-xl"><%= order.table.name %></h1>
    <h1 class="text-xl"><%= order.pending_items.count %> items pending</h1>
  </div>
  <div id="slide_<%= order.id %>" class="hidden m-2 w-full">
    <table class="table-auto shadow-md p-2 border-gray-200 border w-full">
      <thead class="p-2">
      <tr>
        <th class="border-b font-medium p-2 text-center">S.no</th>
        <th class="border-b font-medium p-2 text-left">Item Name</th>
        <th class="border-b font-medium p-2 text-center">Quantity</th>
        <th class="border-b font-medium p-2 text-center">Total</th>
        <th class="border-b font-medium p-2 text-center">Actions</th>
      </tr>
      </thead>
      <tbody class="bg-white">
      <% order.ordered_with_cancelled_items.each_with_index do |item, j| %>
        <%= render "orders/item_row", item: item, index: j %>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <th colspan="3">Total</th>
        <th>₹ <%= order.total(:ordered_items) %></th>
      </tr>
      </tfoot>
    </table>
    <% unless order.billed %>
      <%= form_with(url: billed_path) do |f| %>
        <%= f.hidden_field :id, value: order.id %>
        <%= f.submit "Billed", class: 'float-right ml-3 inline-flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 cursor-pointer' %>
      <% end %>
    <% end %>
  </div>
<% end %>