<!DOCTYPE html>
<html class=" <%= 'h-full bg-grey-50' if devise_controller? || user_signed_in? %>">
<head>
  <title>SheetMenu</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="w-full <%= 'h-full' if devise_controller? || user_signed_in? %>">
<script>
    localStorage.setItem('user_id', '')
</script>
<div id="flash" class="flash">
  <%= render 'layouts/notification' %>
</div>
<% if user_signed_in? %>
  <%= render 'dashboard/header' %>
  <script>
      localStorage.setItem('user_id', <%= current_user.id %>)
  </script>
<% end %>
<% if unknown_user? %>
  <script>
      localStorage.setItem('cart_id', <%= @cart&.id %>)
  </script>
  <%= render 'dashboard/unknown_header' %>
<% end %>
<%= yield %>
<% if params[:controller] == 'tables' && params[:action] == 'show' && !user_signed_in? %>
  <%= render 'layouts/slide_over' %>
<% end %>
</body>
</html>
